<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IOnVifDevice" />
            </wsHttpBinding>
        </bindings>
        <client>
          <!-- endpoint address="http://172.0.2.9:5357/OnVifSimulator/OnVifSimulatorService" -->
          <endpoint address="http://172.0.2.9:5357/"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IOnVifDevice"
                contract="IOnVifDevice" name="WSHttpBinding_IOnVifDevice">
                <identity>
                    <userPrincipalName value="EUROPE\Jgomezl" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>